/* Space out content a bit */
/* 
	@color-lightest-primary = #ffe8e8
	@color-light-primary = #ffcdcd
	@color-mid-primary = #d9534f
	@color-dark-primary = #c9302c
	
	@color-lightest-secondary = #d2f8a5
	@color-light-secondary = #afec68
	@color-mid-secondary = #70b91a
	@color-dark-secondary = #356d09

	@color-light-highlight = #ffffff
	@color-mid-highlight = #e5e5e5

*/

body {
  font-size: 1.7em;
  background-color: #d9534f;
  font-family: 'Open Sans', sans-serif;
}

a,
.nav-tabs > li.active > a {
  color: #d9534f;
}

a:hover,
.nav-tabs > li.active > a:hover {
  color: #c9302c;
}

.nav > li > a:hover, 
.nav > li > a:focus {
  background-color: #ffe8e8;
}

footer {
  background-color: #ffe8e8;
  padding: 20px 23px;

}

.main-body {
  padding-top: 65px;
  padding-bottom: 20px;
  background-color: #ffffff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.marriage-nav-bar {
  padding: 13px;
/*    border-bottom: 1px solid #e5e5e5;*/
/*    border-top: 1px solid #e5e5e5;*/
	text-align: center;
}
/* Make the masthead heading the same height as the navigation */
.header h1 {
	padding-bottom: 7px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 25px;
	text-align: center;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #ffcdcd;
	border-top: 1px solid #e5e5e5;
}

.inner-container {
  padding: 15px;
}

/* Main marketing message and sign up button */
.jumbotron {
	border-bottom: 1px solid #ffcdcd;
	background-color: #ffcdcd;
	padding: ;
}
.jumbotron .btn {
	padding: 14px 24px;
	font-size: 21px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

.photo-center {
	width: 100%;
}

.white-bg {
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #ffcdcd;
	-webkit-box-shadow: 4px 3px 20px 3px rgba(201,48,44,0.1);
	-moz-box-shadow: 4px 3px 20px 3px rgba(201,48,44,0.1);
	box-shadow: 4px 3px 20px 3px rgba(201,48,44,0.1);
}

.red-text {
	color: #d9534f;
}

.green-text {
	color: #70b91a;
}

.indent-plz {
	margin-left: 30px
}

.neon-words {
	color: #ffffff;
	position: absolute;
	text-align: center;
	width: 100%;
}

#stamp-150 {
	background-image: url("./img/redstamp.png");
	background-repeat: no-repeat;
	position: relative;
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#stamp-150 h2 {
	top: 28px;
	font-size: 2.5em;
}

#stamp-150 p {
	top: 90px;
	font-size: 0.9em;
}
#cup-photo {
	background-image: url("./img/cupphoto.png");
	background-repeat: no-repeat;
	position: relative;
	width: 155px;
	height: 182px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
}

#cup-photo p {
	top: 140px;
	font-size: 1.5em;
}

#wedding-photo {
	padding: 0px;
	width: 100%;
}

.photo:after {
	content: " ";
	clear: both;
	display: table;
}

#logo-gif {
	margin: 10px;
	margin-bottom: 25px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	address {
	  text-align: right;
	}
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
	  padding-right: 0;
	  padding-left: 0;
	} 
	/* Space out the masthead */
	.header {
	  margin-bottom: 20px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
	  border-bottom: 0;
	}
	.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
}

/* Variables:color-mid-primary{419:426,511:518,2082:2089}.color-light-highlight{805:812,1835:1842,2186:2193}.color-light-primary{1381:1388,1551:1558,1579:1586,1884:1891}.color-mid-highlight{1413:1420}.color-dark-primary{575:582}.color-lightest-primary{651:658,692:699}.color-mid-secondary{2116:2123} */