<!DOCTYPE html>
<html lang="en" ng-app="dymApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DYM MKT Webform with Angular.JS</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free.all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery/jquery.easing.min.js"></script>
    <!-- Load Angular.JS -->
    <script src="js/angularjs.1.7.5.min.js"></script>
    <script src="angular.js"></script>
    <script src="bannerType.js"></script>

    

    <style>
      body {
        font-size: 0.9em;
      }
      pre {
        /*font-size: 14px;
        line-height: 20px;*/
        white-space: pre-wrap;
        word-break: break-word;
        height: auto !important;
        margin: 1rem;
        padding: 10px;
        border-radius: 10px;
        background-color: lightgrey;
        text-align: left;
      }
      var {
        font-style: normal;
        color: brown;
      }
      
      input.uppercase {
        text-transform: uppercase;
      }
      h4 {
        font-size: 1.1em;
      }
      
      footer {
        margin-top: 20px;
        padding: 20px;
        clear:both;
        background-color:lightgrey;
      }
      .btn-group-sm>.btn, .btn-sm {
        margin-top: 3px;
      }
      .form-output:before, #Devlog:before {
        content: "";
        display: table;
        position: relative;
        width: 100%;
        border-top: 1px solid grey;
        margin: 20px auto;
      }
      .btn-primary {
        color: #fff;
      }
      .btn-primary, .btn-primary.disabled, .btn-primary:disabled {
        color: #1279e8;
        background-color: #fff;
        border-color: #1279e8;
        /*background-color: #6c757d;
        border-color: #6c757d;*/
      }
      .btn-primary.active:not(.disabled):not(:disabled):hover {
        background-color: #1279e8;
        border-color: #1279e8;
      }
      .btn-primary:not(.active):hover{
        color: #1279e8;
        background-color: #e5f0ff;
        border-color: #e5f0ff;
        /*background-color: #8293a2;
        border-color: #8293a2;*/
      }
      .btn-outline-secondary.save-banners {
        margin: 10px auto;
      }
      .form-container {
        
      }
      #WebformSettings form {
        border: 1px solid grey;
        border-radius: 10px;
        padding: 10px 15px;
      }
      .form-output-direct {
        display: none;
      }
      .form-output {
        text-align: center;
      }
    </style>

  </head>

  <body id="page-top" class="sidebar-toggled">
    <div id="wrapper">
      <nav>
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/index.html">Home</a>
          </li>
          <li class="breadcrumb-item active">DYM MKT Webform</li>
        </ol>
      </nav>
      <!-- Main content controlled by DYMController -->
      <div id="content-wrapper" ng-controller="DYMController as dym">
        <div class="container-fluid">
          
          
          <div id="Loader">Loading...</div>

          
          <!-- Form -->
          <div class="row">
            
            <div id="Webform" class="form-container col-8" >
              <form name="dymForm">
                <label>*Campaign ID : 
                  <input ng-model="dym.campaignID" ng-change="dym.update()" name="campaignID" type="text" 
                         placeholder="DYM-MKS-19000" size="16" class="uppercase" value="" ></label><br>
                <label>Customer Segment : 
                  <input ng-model="dym.customerSeg" ng-change="dym.update()" name="seg" type="text" 
                         placeholder="STATIC" size="16" value="" placeholder="STATIC"></label><br>
                <label>*Banner href : 
                  <input ng-model="dym.href" ng-change="dym.update()" name="href" type="text" 
                         placeholder="http://localhost/webdev/amp/index.html" size="36" value=""></label><br>
                <label>*Banner img : 
                  <input ng-model="dym.bannerLink" ng-change="dym.update()" name="bannerLink" type="text" 
                         placeholder="https://dummyimage.com/970x50/f00/fff" size="36" value="" ></label><br>
                <label>*Banner alt &amp; Title : <br>
                  <textarea ng-model="dym.alt" ng-change="dym.update()" name="alt" type="text" 
                            placeholder="Alt text for banners" cols="36" rows="3" value=""></textarea></label><br>
                </form>
              
            </div>
            <div id="WebformSettings" class="form-container col-4">
              <form name="WebformSettings">
                <span style="text-align:right; display:inherit;"><button type="button" class="clear-all btn btn-link">Clear All</button> <button type="button" class="select-all btn btn-link">Select All</button> </span>
                <h4>Desktop Banners</h4>
                <button type="button" data-toggle="button" data-label="HT" class="btn btn-sm btn-primary active" href="#" aria-pressed="true" active>HT</button>
                <button type="button" data-toggle="button" data-label="UT" class="btn btn-sm btn-primary active" href="#" aria-pressed="true" active>UT</button>
                <button type="button" data-toggle="button" data-label="PB" class="btn btn-sm btn-primary active" href="#" aria-pressed="true" active>PB</button>
                <button type="button" data-toggle="button" data-label="BB" class="btn btn-sm btn-primary active" href="#" aria-pressed="true" active>BB</button>
                <br/>
                <br/>
                <h4>Mobile Banners</h4>
                <button type="button" data-toggle="button" data-label="MID5" class="btn btn-sm btn-primary active" href="#" aria-pressed="true" active>MID5</button>
                <button type="button" data-toggle="button" data-label="FOOT" class="btn btn-sm btn-primary active" href="#" aria-pressed="true" active>FOOT</button>
                <button type="button" data-toggle="button" data-label="SHARE" class="btn btn-sm btn-primary active" href="#" aria-pressed="true" active>SHARE</button>
                <button type="button" data-toggle="button" data-label="STORE" class="btn btn-sm btn-primary active" href="#" aria-pressed="true" active>STORE</button>
                <br/>
                <br/>
                <!--<h4>Flyouts</h4>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary">
                    <input type="radio" name="flyout-sm" id="flyout-sm" autocomplete="off"> 160x360
                  </label>
                  <label class="btn btn-sm btn-primary">
                    <input type="radio" name="flyout-lg" id="flyout-lg" autocomplete="off"> 160x600
                  </label>
                </div>
                <br/>-->
                <!--<select id="flyout-select">
                  <option value="">Select a flyout menu</option>
                  <option value="PCs">Computer Systems (PCs)</option>
                  <option value="Components">Components</option>
                  <option value="Gaming">Gaming</option>
                  <option value="Peripherals">Peripherals</option>
                </select-->
                <button type="button" data-label="save-banners" class="btn btn-sm btn-outline-secondary save-banners" onclick="saveBanners();">Download Banners as HTML</button>
              </form>
            </div>
          </div>
          
          <!-- Form Output -->
          <div id="FormOutput">
            
            <banner-type dym="dym" type="HT" title="Homepage Top Banner" size="970x50" bg="true"></banner-type>
            <banner-type dym="dym" type="UT" title="Universal Top Banner" size="970x90" bg="true"></banner-type>
            <banner-type dym="dym" type="PB" title="Product Page Box Banner" size="300_250"></banner-type>
            <banner-type dym="dym" type="BB" title="Bullet Banner" size="374x50"></banner-type>
            
            <banner-type dym="dym" type="MID5" title="Mobile Search Banner" size="640x100" mobile="true"></banner-type>
            <banner-type dym="dym" type="FOOT" title="Mobile Footer Banner" size="640x100" mobile="true"></banner-type>
            <banner-type dym="dym" type="SHARE" title="Mobile Product anner" size="640x100" mobile="true"></banner-type>
            <banner-type dym="dym" type="STORE" title="Mobile EventStore Banner" size="640x100" mobile="true"></banner-type>
          
            <!--
            <banner-type dym="dym" type="flyout-sm" title="Small Nav Flyout Banner" size="160x360" flyout="true"></banner-type>
            <banner-type dym="dym" type="flyout-lg" title="Large Nav Flyout Banner" size="160x600" flyout="true"></banner-type>-->
          </div>  
          <!-- End Form Output -->
          
          <div id="Devlog">
            <h4>Devlog</h4>
            <p>This webform was created using AngularJS to facilitate Dynamic Marketing team's campaign setup procedure by quickly generating HTML files for dynamic banners. Normal operations involved search-replacing 5 fields in multiple HTML files in a text editor, often just copies of older campaigns that might not have all the required banner formats, and always with the possibility of carrying over bad code.</p>
          </div>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <!--<span>Copyright © Your Website 2018</span>-->
              <p>Webform for Dyanmic Marketing team's internal use. Created with React, Bootstrap, Filesaver.js, JSZip, and something called a Blob.</p>
              <p>Theme <a href="https://startbootstrap.com/template-overviews/sb-admin/">SB Admin</a> from <a href="https://startbootstrap.com">startbootstrap.com</a></p>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Core plugin JavaScript-->
    
    <script src="vendor/jszip/jszip.min.js" async></script>
    <script src="vendor/filesaver.min.js" async></script>
    <script src="vendor/bootstrap.min.js" async></script>
    

<script type="text/javascript">
  
  // Hide unnecessary banners that don't need to be downloaded.
  var WebformSettings = jQuery("#WebformSettings");
  jQuery("button.btn-primary", WebformSettings).map(function(i,n) {
    jQuery(n).click(function() {
      jQuery("." + jQuery(this).attr("data-label")).slideToggle();
    })
  });
  // Clear all + Select all buttons
  jQuery("button.clear-all", WebformSettings).click(function() {
    jQuery(".btn-primary.active", WebformSettings).click();
  });
  jQuery("button.select-all", WebformSettings).click(function() {
    jQuery(".btn-primary:not(.active)", WebformSettings).click();
  });


// Function to download data to a file
function download(data, filename, type) {
  var file = new Blob([data], {type: type});
  if (window.navigator.msSaveOrOpenBlob) // IE10+
      window.navigator.msSaveOrOpenBlob(file, filename);
  else { // Others
      var a = document.createElement("a"),
              url = URL.createObjectURL(file);
      a.href = url;
      a.download = filename;
      document.body.appendChild(a);
      a.click();
      setTimeout(function() {
          document.body.removeChild(a);
          window.URL.revokeObjectURL(url);  
      }, 0); 
  }
}
function saveBanners() {
  var banners = jQuery("pre.text-area:visible"); 

  if( banners.length > 1 ) {
    console.log("Downloading multiple html files.");
    var zip = new JSZip();
    banners.map(function(i,n) {
      var filename = jQuery(n).attr('id').toLowerCase() + ".html";
      zip.folder("banners").file(filename, jQuery(n).text());
      
    });
    zip.generateAsync({type:"blob"})
      .then(function (blob) {
          saveAs(blob, "banners.zip");
      });  
  } else {
    console.log("Downloading a banner as an html file.");
    var filename = jQuery(banners).attr("id").toLowerCase() + ".html";
    var file = new Blob([jQuery(banners).text()], {type: "html"});
    if (window.navigator.msSaveOrOpenBlob) // IE10+
        window.navigator.msSaveOrOpenBlob(file, filename);
    else { // Others
        var a = document.createElement("a"),
                url = URL.createObjectURL(file);
        a.href = url;
        a.download = filename;
        document.body.appendChild(a);
        a.click();
        setTimeout(function() {
            document.body.removeChild(a);
            window.URL.revokeObjectURL(url);  
        }, 0); 
    }
  }
}
    </script>
    
  </body>

</html>
