<!-- HT Banner -->
<div class="form-output {{$ctrl.type}}">
  <h4>{{$ctrl.title}}</h4>

  <center>{{$ctrl.dym.campaignID | uppercase}}_{{$ctrl.type}}_{{$ctrl.dym.customerSeg}} ({{$ctrl.size}})</center>
  
  <!--<textarea ng-model="$ctrl.textarea" name="textarea" type="text" placeholder="HTML should go here" cols="100" rows="6" value=""></textarea>-->
<span class="copytext" data-target="{{$ctrl.dym.campaignID | lowercase}}_{{$ctrl.type | lowercase}}_{{$ctrl.dym.customerSeg | lowercase}}" onclick="copyToClipboard(this)" ng-show="$ctrl.dym.settings.precode">Copy to Clipboard</span>
<pre class="text-area" id="{{$ctrl.dym.campaignID | lowercase}}_{{$ctrl.type | lowercase}}_{{$ctrl.dym.customerSeg | lowercase}}" ng-show="$ctrl.dym.settings.precode">
&lt;center&gt;
  &lt;a href="<var>{{$ctrl.dym.href}}</var>" <span ng-if="$ctrl.size!='640x100' ">target="_blank"</span> <span ng-if="$ctrl.bg">style="background: url('<var>{{$ctrl.dym.bannerLink | resize:"bg_"+$ctrl.size}}</var>') repeat-x; display:block;"</span>
    onclick="if(typeof s != 'undefined') {s.linkTrackEvents=''; s.linkTrackVars='prop26,eVar50';
    s.prop26='-_--_--_--_--_-<var>{{$ctrl.dym.campaignID}}</var>_<var>{{$ctrl.type}}</var>_<var>{{$ctrl.dym.customerSeg}}</var>-_-Pers_MNT-_--_-'+new Date().toISOString()+'-_-';
    s.eVar50='-_--_--_--_--_-<var>{{$ctrl.dym.campaignID}}</var>_<var>{{$ctrl.type}}</var>_<var>{{$ctrl.dym.customerSeg}}</var>-_-Pers_MNT-_--_-'+new Date().toISOString()+'-_-';
    s.tl(this,'o','Target Banner click monetate');}" <span ng-if="$ctrl.mobile">style="display:block; position:relative;"</span>&gt;
    &lt;img src="<var>{{$ctrl.dym.bannerLink | resize:$ctrl.size}}</var>"
      <span ng-if="!$ctrl.flyout">onload="if(typeof s != 'undefined') {s.linkTrackEvents=''; s.linkTrackVars='prop26,eVar50';
      s.prop26='-_--_--_--_--_-<var>{{$ctrl.dym.campaignID}}</var>_<var>{{$ctrl.type}}</var>_<var>{{$ctrl.dym.customerSeg}}</var>-_-Pers_MNT_Imp-_--_-'+new Date().toISOString()+'-_-';
      s.eVar50='-_--_--_--_--_-<var>{{$ctrl.dym.campaignID}}</var>_<var>{{$ctrl.type}}</var>_<var>{{$ctrl.dym.customerSeg}}</var>-_-Pers_MNT_Imp-_--_-'+new Date().toISOString()+'-_-';
      s.tl(this,'o','Target Banner impression monetate');}"</span> alt="<var>{{$ctrl.dym.alt}}</var>" title="<var>{{$ctrl.dym.alt}}</var>" <span ng-if="$ctrl.mobile">style="max-width: 100%;display: block;margin: auto;"</span><span ng-if="$ctrl.bg||$ctrl.flyout">style="vertical-align: middle;"</span>/&gt;
  &lt;/a&gt;
&lt;/center&gt;
<div ng-if="$ctrl.flyout" style="border-top:solid 1px black; margin-top:15px;">
&#x3C;script&#x3E;
<span style="color: slategrey;">//change # to the Category Menu order # of the campaign (count starts at 0)</span>
var dom = jQuery(&#x22;.main-nav-item&#x22;)[<var>{{$ctrl.type | index}}</var>];

NEG(dom).on(&#x22;Switch_Activate&#x22;,function(){
  if(typeof s != &#x27;undefined&#x27;) {
    s.linkTrackEvents=&#x27;&#x27;;
    s.linkTrackVars=&#x27;prop26,eVar50&#x27;;
    s.prop26=&#x27;-_--_--_--_--_-<var>{{$ctrl.dym.campaignID}}</var>_<var>{{$ctrl.type}}</var>_<var>{{$ctrl.dym.customerSeg}}</var>-_-Pers_MNT_Imp-_--_-&#x27;+new Date().toISOString()+&#x27;-_-&#x27;;
    s.eVar50=&#x27;-_--_--_--_--_-<var>{{$ctrl.dym.campaignID}}</var>_<var>{{$ctrl.type}}</var>_<var>{{$ctrl.dym.customerSeg}}</var>-_-Pers_MNT_Imp-_--_-&#x27;+new Date().toISOString()+&#x27;-_-&#x27;;
    s.tl(this,&#x27;o&#x27;,&#x27;Target Banner impression monetate&#x27;);
  }
});
&#x3C;/script&#x3E;</div></pre>
  
  <div class="banner-preview" ng-show="$ctrl.dym.settings.preview">
    <center><a href="{{$ctrl.dym.href}}" style="background: url('{{$ctrl.dym.bannerLink | resize:'bg_'+$ctrl.size}}') repeat-x;" ><img ng-src="{{$ctrl.dym.bannerLink | resize:$ctrl.size}}" alt="{{$ctrl.dym.alt}}" title="{{$ctrl.dym.alt}}"></a></center>
  </div>

</div>
            
<!-- END HT Banner -->